<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>

<header>
    <nav>
        <strong>Anderlechtse NGO</strong>

        <a href="/">Home</a>
        <a href="/new">Nieuw evenement</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </nav>
</header>

<main>
    <h1>About pagina</h1>

    <p>Informatie over de Anderlechtse NGO.</p>
</main>

<footer>
    <p>&copy; 2026 Anderlechtse NGO</p>
</footer>

</body>
</html>